<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <title>Cubic - One Page Responsive HTML 5 Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">

    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- color scheme -->
    <link rel="stylesheet" href="../css/color.css" type="text/css">
    <!-- revolution slider -->
    <link rel="stylesheet" href="../css/rev-settings.css" type="text/css">
    <link rel="stylesheet" href="../css/login.css" type="text/css">

</head>

<body id="homepage" style="overflow:hidden">

<div id="wrapper">
    <!-- header begin -->

    <header  class="smaller">
        <div class="row">
            <!-- mainmenu begin -->
            <nav  class="navbar" role="navigation" style="margin-bottom: 0">
                <ul id="mainmenu" class="navbar-left">
                    <li><a class="J_menuItem black" th:href="@{/index}" shiro:hasAnyRoles ="student,teacher,Administration">Home</a></li>
                    <li><a class="J_menuItem" th:href="@{/MyThesis}" shiro:hasAnyRoles="teacher,Administration">My Thesis</a></li>
                    <li><a class="J_menuItem" th:href="@{/MySoftwareCopyright}" shiro:hasAnyRoles="teacher,Administration">My Software Copyright</a></li>
                    <li><a class="J_menuItem" th:href="@{/projectManagement}" shiro:hasAnyRoles="teacher,Administration">My Project</a></li>
                    <li><a class="J_menuItem" th:href="@{/userManagement}" shiro:hasRole="Administration">Management</a></li>
                    <li><a class="J_menuItem" th:href="@{/test}" shiro:hasRole="Administration">Report Statistics</a></li>
                    <li><a class="J_menuItem" th:text="${session.user.getUserName()}">谢文仲</a></li>
                    <li><a class="J_menuItem" th:href="@{logout}">退出</a></li>
                </ul>
            </nav>


            <!-- mainmenu close -->

        </div>

    </header>

    <!-- header close -->


    <!-- content begin -->
    <div id="content">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="panel panel-warning ">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title ">登记软件著作权</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" th:action="@{AddCopyrightSubmit}">
                            <div class="form-group">
                                <div class="row">
                                    <label for="input1" class="col-md-2 control-label">软件著作权标题</label>
                                    <div class="col-md-4">
                                        <input class="form-control" id="input1" name="input1" type="text" placeholder="">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <label for="input2" class="col-md-2 control-label">著作权编号</label>
                                    <div class="col-md-4"><input class="form-control" type="text"  id="input2" name="input2"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="input3" class="col-md-2 control-label">作者一</label>
                                    <div class="col-md-2"><input class="form-control" type="text"  id="input3" name="input3"></div>
                                    <label for="input4" class="col-md-2 control-label">作者二</label>
                                    <div class="col-md-2"><input class="form-control" type="text"  id="input4" name="input4"></div>
                                    <label for="input5" class="col-md-2 control-label">作者三</label>
                                    <div class="col-md-2"><input class="form-control" type="text"  id="input5" name="input5"></div>
                                </div>
                                <br>
                                <div class="row">
                                    <label for="input6" class="col-md-2 control-label">发表时间</label>
                                    <div class="col-md-4"><input class="form-control" type="text"  id="input6" name="input6" placeholder="请按照’2000-01-10‘格式输入"></div>
                                </div>
                                <br>
                                <div class="row">
                                    <label for="input7" class="col-md-2 control-label">著作简介</label>
                                    <div class="col-md-10"><input class="form-control" type="text"  id="input7" name="input7"></div>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-md-2 col-md-offset-4">
                                <button th:type="submit" class="btn btn-warning"> 提交</button>
                                </div>
                                <div class="col-md-2 ">
                                    <a th:href="@{MySoftwareCopyright}" ><div class="btn btn-warning"> 取消</div></a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>


                <br/>


        </div>

    </div>
    <input id="labeluserid" type="hidden" th:value="${session.userId}" />
</div>


<!-- Javascript Files
================================================== -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="../js/bootstrap-table.min.js"></script>


</body>
</html>
