<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>科研著作管理</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link href="../assets/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">

    <link href="../assets/css/fileinput.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <link href="../assets/themes/explorer-fas/theme.css" rel="stylesheet" >


    <link href="../css/uPManagement.css" rel="stylesheet">
    <!-- #7266ba -->

</head>
<body>
<input type="hidden" id="authorType"/>
<div class="container-fluid margin10Top">
    <div class="row container-row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-12 right_md10">
                    <!--title -->
                    <div class="row row_title">
                        <div class="col-md-12 row_title_column">
                            <strong class="row_title_strong">科研著作管理</strong>

                            <button type="button" id="searchBtn" onclick="search()"
                                    class="btn btn_purple searchBtn margin5"><span
                                    aria-hidden="true"></span> 搜索
                            </button>
                            <input class="searchInput" id="bookNameInput" name="bookName" type="text"
                                   placeholder="著作标题"/>

                        </div>
                    </div>
                    <!--title end-->
                    <!--  按钮列表  -->
                    <div class="row" style=" ">
                        <div class="col-md-12 row_btn_column">
                            <button type="button" id="exportBtn"
                                    class="btn btn_purple margin20 floatR"><span
                                    aria-hidden="true"></span> 导出
                            </button>
                            <button type="button" id="importBtn"
                                    class="btn btn_purple floatR margin5"><span
                                    aria-hidden="true"></span> 导入
                            </button>
                            <button type="button" id="deleteBtn" class="btn btn_purple floatR margin5"><span
                                    aria-hidden="true"></span> 删除
                            </button>
                            <button type="button" id="addBtn"
                                    class="btn btn_purple floatR margin5"><span
                                    aria-hidden="true"></span> 登记
                            </button>
                        </div>
                    </div>
                    <!--  按钮列表  end-->

                    <!--  内容-表格  -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered" id="table_list"></table>
                        </div>
                    </div>
                    <!--  内容-表格 end -->
                </div>
                <!--  右侧内容 end -->
            </div>
        </div>
    </div>
</div>


<!-- 登记论文 模态框 -->
<div class="modal fade" id="addProjectModal" name="addProjectModal" style="display: none;" tabindex="-1"
     role="dialog"
     aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="addProjectModalLabel" name="myModalLabel">
                    登记论文
                </h4>
            </div>
            <div class="modal-body" id="modalcontent" style="padding: 20px">

                <div class="row margin10b">
                    <div class="col-md-3  add_span">
                        <span> 论文标题</span>
                    </div>
                    <div class="col-md-8 add_col8">
                        <input type="text" class="form-control" id="ma_thesisTitleInput" placeholder="请输入论文标题"
                               name="thesisTitle">
                    </div>
                </div>

                <div class="row margin10b">
                    <div class="col-md-3  add_span">
                        <span> 作者1</span>
                    </div>
                    <div class="col-md-8 add_col8 span-div">

                        <input type="hidden" class="form-control" id="ma_author1idInput"/>
                        <input type="text" class="form-control" id="ma_author1Input"  disabled="disabled" placeholder="请输入第一作者"/>
                        <button class=" btn noradius btn_purple flexright "  onclick="addAuthorModal(1)">添加</button>
                        <button class=" btn noradius btn_purple flexright " onclick="deleteAuthor(1)">清空</button>

                    </div>
                </div>
                <div class="row margin10b">
                    <div class="col-md-3  add_span">
                        <span> 作者2</span>
                    </div>
                    <div class="col-md-8 add_col8 span-div">

                        <input type="hidden" class="form-control" id="ma_author2idInput"/>

                        <input type="text" class="form-control" id="ma_author2Input"  disabled="disabled" placeholder="请输入第二作者"/>
                        <button class=" btn noradius btn_purple flexright "  onclick="addAuthorModal(2)">添加</button>
                        <button class=" btn noradius btn_purple flexright " onclick="deleteAuthor(2)">清空</button>
                    </div>
                </div>

                <div class="row margin10b">
                    <div class="col-md-3  add_span">
                        <span> 作者3</span>
                    </div>
                    <div class="col-md-8 add_col8 span-div">
                        <input type="hidden" class="form-control" id="ma_author3idInput"/>
                        <input type="text" class="form-control" id="ma_author3Input" disabled="disabled" placeholder="请输入第三作者"/>
                        <button class=" btn noradius btn_purple flexright "  onclick="addAuthorModal(3)">添加</button>
                        <button class=" btn noradius btn_purple flexright " onclick="deleteAuthor(3)">清空</button>
                    </div>
                </div>


                <div class="row margin10b">
                    <div class="col-md-3  add_span">
                        <span> 刊名</span>
                    </div>
                    <div class="col-md-8 add_col8">
                        <input type="text" class="form-control" id="ma_journalInput" placeholder="请输入刊名"
                               name="journal">
                    </div>
                </div>
                <div class="row margin10b">
                    <div class="col-md-3  add_span">
                        <span> 期，卷</span>
                    </div>
                    <div class="col-md-8 add_col8">
                        <input type="text" class="form-control" id="ma_volumeInput" placeholder="请输入期，卷"
                               name="volume">
                    </div>
                </div>
                <div class="row margin10b">
                    <div class="col-md-3  add_span">
                        <span> 全文url</span>
                    </div>
                    <div class="col-md-8 add_col8 ">
                        <input type="text" class="form-control" id="ma_urlInput" placeholder="请输入全文url"
                               name="url">
                    </div>
                </div>

                <div class="row margin10b">
                    <div class="col-md-3  add_span">
                        <span> 页数</span>
                    </div>
                    <div class="col-md-8 add_col8">
                        <input type="text" class="form-control" id="ma_pagesInput" placeholder="请输入页数"
                               name="pages">
                    </div>
                </div>

                <div class="row margin10b " id="typeDiv">
                    <div class="col-md-3  add_span">
                        <span> 私密性</span>
                    </div>
                    <div class="col-md-8 add_col8">
                        <select id="ma_privacySelect" name="privacy">
                            <option value="PUBLIC">公开</option>
                            <option value="PRIVATE">私密</option>
                        </select>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="botton" id="ma_addBtn" class="btn btn-default" style="width: 25%;">提交</button>
                <button type="reset" class="btn btn-default" style="width:  25%;">清空</button>
            </div>

        </div>
    </div>
</div>
<!-- 增加科研用户信息 模态框 end -->


<!-- 导入项目名单 模态框 -->
<div class="modal fade" id="importUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">导入项目名单</h4>
            </div>
            <div class="my_modal-body">
                <form id="importUserForm" method="post" enctype="multipart/form-data" action="ImportUserExcel">
                    <div class="row margin10b">
                        <div class="col-md-2  add_span">
                            <span> 选择</span>
                        </div>
                        <div class="col-md-4 add_col8">
                            <input id="projectFile" name="projectFile" multiple type="file"
                                   data-show-caption="true">
                        </div>
                        <div class="col-md-4 ">
                            <button type="button" id="ImportProjectExcelBtn" class="btn btn-default"
                                    style="width: 40%;">
                                提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 导入项目名单 模态框 end-->


<!-- 查看编辑项目信息 模态框 -->
<div class="modal fade" id="editProjectModal" name="editProjectModal" style="display: none;" tabindex="-1" role="dialog"
     aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:  700px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="editModalLabel">
                    论文详情
                </h4>
            </div>
            <div class="modal-body" style="padding: 20px">
                <div class="tabbable" id="tabs-860429">

                    <div class="tab-content">
                        <div class="tab-pane active" id="common">

                            <input type="hidden" id="me_thesisIdInput"/>
                            <div class="row margin10b adiv">
                                <div class="col-md-3  add_span">
                                    <span> 论文标题</span>
                                </div>
                                <div class="col-md-7 add_col8">
                                    <input type="text" class="form-control" id="me_thesisTitleInput" placeholder="请输入论文标题"
                                           name="thesisTitle" disabled="disabled">
                                </div>
                                <div class="col-md-2 add_col8 ">
                                    <a type="botton" class="ahide paddingTop5" href="javascript:void(0);" id="me_thesisTitle_a">修改</a>
                                </div>

                            </div>

                            <div class="row margin10b adiv">
                                <div class="col-md-3  add_span">
                                    <span> 作者1</span>
                                </div>
                                <div class="col-md-7 add_col8">
                                    <input type="text" class="form-control" id="me_author1Input" placeholder="请输入第一作者"
                                           name="author1" disabled="disabled"/>
                                    <input type="hidden" id="me_author1idInput"/>
                                </div>
                                <div class="col-md-2 add_col8 ">
                                    <a type="botton" class="ahide paddingTop5" href="javascript:void(0);" id="me_author1_a">修改</a>
                                </div>

                            </div>

                            <div class="row margin10b adiv">
                                <div class="col-md-3  add_span">
                                    <span> 作者2</span>
                                </div>
                                <div class="col-md-7 add_col8">
                                    <input type="text" class="form-control" id="me_author2Input" placeholder="请输入第二作者"
                                           name="author1" disabled="disabled"/>
                                    <input type="hidden" id="me_author2idInput"/>
                                </div>
                                <div class="col-md-2 add_col8 ">
                                    <a type="botton" class="ahide paddingTop5" href="javascript:void(0);" id="me_author2_a">修改</a>
                                </div>

                            </div>

                            <div class="row margin10b adiv">
                                <div class="col-md-3  add_span">
                                    <span> 作者3</span>
                                </div>
                                <div class="col-md-7 add_col8">
                                    <input type="text" class="form-control" id="me_author3Input" placeholder="请输入第三作者"
                                           name="author1" disabled="disabled">
                                    <input type="hidden" id="me_author3idInput"/>
                                </div>
                                <div class="col-md-2 add_col8 ">
                                    <a type="botton" class="ahide paddingTop5" href="javascript:void(0);" id="me_author3_a">修改</a>
                                </div>

                            </div>

                            <div class="row margin10b adiv">
                                <div class="col-md-3  add_span">
                                    <span> 刊名</span>
                                </div>
                                <div class="col-md-7 add_col8">
                                    <input type="text" class="form-control" id="me_journalInput" placeholder="请输入刊名"
                                           name="journal" disabled="disabled">
                                </div>
                                <div class="col-md-2 add_col8 ">
                                    <a type="botton" class="ahide paddingTop5" href="javascript:void(0);" id="me_journal_a">修改</a>
                                </div>

                            </div>

                            <div class="row margin10b adiv">
                                <div class="col-md-3  add_span">
                                    <span> 期，卷</span>
                                </div>
                                <div class="col-md-7 add_col8">
                                    <input type="text" class="form-control" id="me_volumeInput" placeholder="请输入期，卷"
                                           name="volume" disabled="disabled">
                                </div>
                                <div class="col-md-2 add_col8 ">
                                    <a type="botton" class="ahide paddingTop5" href="javascript:void(0);" id="me_volume_a">修改</a>
                                </div>

                            </div>

                            <div class="row margin10b adiv">
                                <div class="col-md-3  add_span">
                                    <span> 全文url</span>
                                </div>
                                <div class="col-md-7 add_col8">
                                    <input type="text" class="form-control" id="me_urlInput" placeholder="请输入全文url"
                                           name="url" disabled="disabled">
                                </div>
                                <div class="col-md-2 add_col8 ">
                                    <a type="botton" class="ahide paddingTop5" href="javascript:void(0);" id="me_url_a">修改</a>
                                </div>

                            </div>

                            <div class="row margin10b adiv">
                                <div class="col-md-3  add_span">
                                    <span> 页数</span>
                                </div>
                                <div class="col-md-7 add_col8">
                                    <input type="text" class="form-control" id="me_pagesInput" placeholder="请输入页数"
                                           name="pages" disabled="disabled">
                                </div>
                                <div class="col-md-2 add_col8 ">
                                    <a type="botton" class="ahide paddingTop5" href="javascript:void(0);" id="me_pages_a">修改</a>
                                </div>

                            </div>

                            <div class="row margin10b adiv " >
                                <div class="col-md-3  add_span">
                                    <span> 私密性</span>
                                </div>
                                <div class="col-md-7 add_col8 span-div">
                                    <span id="me_privacyInput" class="paddingTop5">公开</span>
                                    <select id="me_privacySelect" name="privacy" class="hide">
                                        <option value="PUBLIC">公开</option>
                                        <option value="PRIVATE">私密</option>

                                    </select>
                                </div>
                                <div class="col-md-2 add_col8 ">
                                    <a type="botton" class="ahide paddingTop5" href="javascript:void(0);" id="me_privacy_a">修改</a>
                                </div>
                            </div>



                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>


</div>
</div>


<!-- 添加论文作者 -->
<div class="modal fade" id="addMemberModal"  style="display: none;" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" name="myModalLabel">
                    添加成员
                </h4>
            </div>
            <div class="modal-body"  style="padding: 0">

                <div class="modal-body">

                    人员代号: <input type="text" id="modal_addUser_userId" name="userId"/>
                    <button  class="btn btn_purple searchMargin retop noradius"  onclick="searchAddMember()">查找</button>
                    <div id="searchMemberList"></div>


                </div>
            </div>

        </div>
    </div>
</div>



<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<!-- Bootstrap table -->
<script src="../assets/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../assets/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="../assets/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- Layer -->
<script src="../assets/js/plugins/layer/layer.min.js"></script>
<!-- select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<!-- datetimepicker -->
<script src="../assets/js/plugins/datapicker/moment-with-locales.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<script src="../assets/js/fileinput.js" type="text/javascript"></script>
<script src="../assets/js/locales/zh.js" type="text/javascript"></script>

<script src="../assets/js/plugins/piexif.js" type="text/javascript"></script>
<script src="../assets/js/plugins/sortable.js" type="text/javascript"></script>
<script src="../assets/themes/fas/theme.js" type="text/javascript"></script>
<script src="../assets/themes/explorer-fas/theme.js" type="text/javascript"></script>

<script src="../js/bookManagement.js" type="text/javascript"></script>
</body>
</html>