<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <title>Cubic - One Page Responsive HTML 5 Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">

    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- color scheme -->
    <link rel="stylesheet" href="../css/color.css" type="text/css">
    <!-- revolution slider -->
    <link rel="stylesheet" href="../css/rev-settings.css" type="text/css">
    <link rel="stylesheet" href="../css/login.css" type="text/css">

</head>

<body id="homepage" style="overflow:hidden">

<div id="wrapper">
    <!-- header begin -->

    <header  class="smaller">
        <div class="row">
            <!-- mainmenu begin -->
            <nav  class="navbar" role="navigation" style="margin-bottom: 0">
                <ul id="mainmenu" class="navbar-left">
                    <li><a class="J_menuItem black" th:href="@{/index}">Home</a></li>
                    <li><a class="J_menuItem" th:href="@{/MyThesis}">My Thesis</a></li>
                    <li><a class="J_menuItem" th:href="@{/MySoftwareCopyright}">My Software Copyright</a></li>
                    <li><a class="J_menuItem" th:href="@{/subjectManagement}">My Project</a></li>
                    <li><a class="J_menuItem" th:href="@{/userManagement}">Management</a></li>
                    <li><a class="J_menuItem" th:href="@{/}">Report Statistics</a></li>
                    <li><a class="J_menuItem" th:text="${session.user.getUserName()}">谢文仲</a></li>
                    <li><a class="J_menuItem" th:href="@{logout}">退出</a></li>
                </ul>
            </nav>


            <!-- mainmenu close -->

        </div>

    </header>

    <!-- header close -->


    <!-- content begin -->
    <div id="content">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="panel panel-warning ">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title ">登记论文</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post" th:action="@{/EditThesisSubmit}" name="myform1">
                            <input name="inputtmp" type="hidden" th:value="${thesistmpId}"/>
                            <div class="form-group">
                                <div class="row">
                                    <label for="input1" class="col-md-1 control-label  col-md-offset-3 ">论文标题</label>
                                    <div class="col-md-5 ">
                                        <input class="form-control" id="input1" name="input1" type="text" th:value="${thesisinf.getThesisTitle()}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="input2" class="col-md-1 control-label">文章编号</label>
                                    <div class="col-md-4"><input class="form-control" type="text"  id="input2" name="input2" th:value="${thesisinf.getThesisId()}"></div>

                                    <label for="input3" class="col-md-1 col-md-offset-2 control-label">作者一</label>
                                    <div class="col-md-3"><input class="form-control" type="text"  id="input3" name="input3" th:value="${thesisinf.getAuthor1().getUserName()}"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1 control-label">作者二</div>
                                    <div class="col-md-3">
                                        <input class="form-control" type="text"  name="input4" th:value="${thesisinf.getAuthor2().getUserName()}" th:if="${thesisinf.getAuthor2()!=null}">
                                        <input class="form-control" type="text"   name="input4" th:if="${thesisinf.getAuthor2()==null}">
                                    </div>
                                    <div class="col-md-1 col-md-offset-3 control-label">作者三</div>
                                    <div class="col-md-3">
                                        <input class="form-control" type="text"   name="input5" th:value="${thesisinf.getAuthor3().getUserName()}" th:if="${thesisinf.getAuthor3()!=null}">
                                        <input class="form-control" type="text"  name="input5" th:if="${thesisinf.getAuthor3()==null}">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-1 control-label">刊名</div>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text"  name="input6" th:value="${thesisinf.getJournal()}" th:if="${thesisinf.getJournal()!=null}">
                                        <input class="form-control" type="text" name="input6" th:if="${thesisinf.getJournal()==null}">
                                    </div>
                                    <div  class="col-md-1 col-md-offset-2 control-label">期，卷</div>
                                    <div class="col-md-3">
                                        <input class="form-control" type="text"  name="input7" th:value="${thesisinf.getVolume()}" th:if="${thesisinf.getJournal()!=null}">
                                        <input class="form-control" type="text"  name="input7" th:if="${thesisinf.getJournal()==null}">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div  class="col-md-1 control-label">页数</div>
                                    <div class="col-md-3"><input class="form-control" type="number"  id="input8" name="input8" th:value="${thesisinf.getPages()}"></div>
                                    <label  class="col-md-1  col-md-offset-3 control-label">私密性</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="0" checked> 公开
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadiosinline" id="optionsRadios4"  value="1"> 私密
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                <label for="input10" class="col-md-1 control-label">全文url</label>
                                <div class="col-md-11"><input class="form-control" type="text"  id="input10" name="input10" th:value="${thesisinf.getUrl()}"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-md-offset-4">
                                <div onclick="checksubmit();" class="btn btn-warning"> 提交</div>
                                </div>
                                <div class="col-md-2 ">
                                    <a th:href="@{/MyThesis}" ><div class="btn btn-warning"> 取消</div></a>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>


                <br/>


        </div>

    </div>
    <input id="labeluserid" type="hidden" th:value="${session.userId}" />
</div>


<!-- Javascript Files
================================================== -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="../js/bootstrap-table.min.js"></script>
<script>
    function checksubmit() {
        var input1= $("[name='input1']").val();
        var input2= $("[name='input2']").val();
        var input3= $("[name='input3']").val();
        if($.trim(input1)==""||$.trim(input2)==""||$.trim(input3)==""){
            alert("标题、文章编号、作者一不能为空！");
        }else{
            myform1.submit();
        }
    }


</script>

</body>
</html>
