<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml" lang="zh_CN">
<head>
    <meta charset="utf-8">
    <title>Cubic - One Page Responsive HTML 5 Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">


    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">

    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- color scheme -->
    <link rel="stylesheet" href="../css/color.css" type="text/css">
    <!-- revolution slider -->
    <link rel="stylesheet" href="../css/rev-settings.css" type="text/css">
     <link rel="stylesheet" href="../css/login.css" type="text/css">

</head>

<body id="homepage" style="overflow:hidden">

<div id="wrapper">
        <!-- header begin -->
     
            <header  class="smaller">
                <div class="row">                                 
                        <!-- mainmenu begin -->
                        <nav  class="navbar" role="navigation" style="margin-bottom: 0">
                            <ul id="mainmenu" class="navbar-left" >
                                <li><a class="J_menuItem black" th:href="@{/index}">Home</a></li>
                                <li><a class="J_menuItem" th:href="@{/MyThesis}">My Thesis</a></li>
                                <li><a class="J_menuItem" th:href="@{/MySoftwareCopyright}">My Software Copyright</a></li>
                                <li><a class="J_menuItem" th:href="@{/subjectManagement}">My Project</a></li>
                                <li><a class="J_menuItem" th:href="@{/userManagement}">Management</a></li>
                                <li><a class="J_menuItem" th:href="@{/}">Report Statistics</a></li>
                                <li><a class="J_menuItem" >谢文仲</a></li>
                                <li><a class="J_menuItem" th:href="@{logout}">退出</a></li>
                            </ul>
                        </nav>             
                    <!-- mainmenu close -->
                </div>
      </header>
    
        <!-- header close -->


        <!-- content begin -->
     <div id="content">

     <section id="section-thesis">
    <br/>
        <h1 class="h1fw">论文查询</h1>
            <br/>
       <div class="row">
          <div class="col-md-6  col-md-offset-3">
       <form method="post" th:action="@{GoToThesisList}">
           <div class="input-group">
               <div class="input-group-btn">
                   <select class="selectpicker show-tick fontsize20 select2" name="selecttype1"  data-live-search="true">
                       <option value="0">论文ID</option>
                       <option value="1">标题</option>
                       <option value="2">作者一</option>
                       <option value="3">作者二</option>
                       <option value="4">作者三</option>
                       <option value="5">刊名</option>
                   </select>
               </div>

               <input type="text" class="form-control searchtext"  name="input1">
               <span class="input-group-btn">
                        <button class="btn btn-warning  fontsize20 menu3 " type="submit">查询</button>
                    </span>
           </div>
       </form>
          </div>
       </div>
     </section>

     <section id="section-copyright">
         <h1 class="h1fw">软件著作查询</h1>
         <br>
      <div class="row">
          <div class="col-md-6  col-md-offset-3">
              <form method="post"  th:action="@{GoToCopyrightList}">
                  <div class="input-group">
                  <div class="input-group-btn">
                      <select class="selectpicker show-tick fontsize20 select2"   name="selecttype2" data-live-search="true">
                          <option value="0">软件著作ID</option>
                          <option value="1">著作名称</option>
                          <option value="2">作者一</option>
                          <option value="3">作者二</option>
                          <option value="4">作者三</option>
                      </select>
                  </div> <!-- input-group-btn -->
                  <input type="text" class="form-control searchtext" name="input2"/>
                  <span class="input-group-btn">
                        <button class="btn btn-warning  fontsize20 menu3" type="submit">查询</button>
                    </span>
                  </div> <!-- input-group -->
              </form>

          </div><!-- col-md-6  col-md-offset-3-->
       </div>  <!-- row -->
     </section>
     </div>

          
     
</div>


    <!-- Javascript Files
    ================================================== -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  
  

</body>
</html>
