<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml" lang="zh_CN">
<head>
    <meta charset="utf-8">
    <title>Scientific Research File Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">


    <!--[if lt IE 9]>
	<script src="../static/js/html5shiv.js"></script>
	<![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../css/jpreloader.css" type="text/css">  
    <link rel="stylesheet" href="../css/owl.carousel.css" type="text/css">   
    <link rel="stylesheet" href="../css/style.css" type="text/css">
     <link rel="stylesheet" href="../css/login.css" type="text/css">

    <!-- custom style css -->
    <link rel="stylesheet" href="../css/custom-style.css" type="text/css">

    <!-- color scheme -->
    <link rel="stylesheet" href="../css/color.css" type="text/css">

    <!-- load fonts -->
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.css" type="text/css">  
</head>

<body id="homepage">

    <!-- This section is for Splash Screen -->
    <div id="jSplash">
        <section class="selected">
            This is custom text rotator on loading screen!
        </section>
        <section>
            Make your customers smile.
        </section>
    </div>
    <!-- End of Splash Screen -->


    <div id="wrapper">     
        <!-- content begin -->
        <div id="content" class="no-bottom no-top">


            <!-- section begin -->
            <section id="section-welcome" class="full-height dark" data-speed="3" data-type="background">
                <div class="center-y text-center"   id="welcome1">
                   Scientific Research File Management System
                <div class="spacer-single"></div>
                    <div class="text-slider border-deco">
                        <div class="text-item">Welcome To <span class="id-color">SRFM</span></div>
                        <div class="text-item">Thesis + <span class="id-color">Software Copyright</span></div>
                        <div class="text-item"><span class="id-color"><i class="icon-bike"></i></span>Ready to Go?</div>
                    </div>
                    <div class="spacer-single"></div>
                    <button  class="btn btn-border btn-big" onclick="login1()">Go To Login</button>
                </div>
    
<div class="signinpanel" style="display: none;" id="login1">
    <div class="row">
        <div class="col-sm-12 ">
            <form method="post"  th:action="@{/login}"  id="frm">
                <h1 style="text-align: center"> 科 研 档 案 管 理 系 统</h1>
                <input type="text" class="form-control uname" name="userId" id="userId" placeholder="用户ID" />
                <input type="password" class="form-control pword m-b" name="passwd" id="password"  placeholder="密码" />
                <button class="btn btn-warning btn-block" type="submit">登 录</button>
            </form>    
    
        </div>
    </div>
</div>


            </section>
            <!-- section close -->


            <!-- footer begin -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-envelope-o fa-lg"></i></a>
                                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                            </div>
                            <div class="spacer-single"></div>
                            © Copyright 2019 -SRFM  by Sijar etc. More Information<a href="http://www.baidu.com/" target="_blank" title="百度一下">调皮一下</a> 
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer close -->
        </div>
    </div>


    <!-- Javascript Files
    ================================================== -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jpreLoader.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.prettyPhoto.js"></script>
    <script src="../js/jquery.ui.totop.js"></script>  
    <script src="../js/owl.carousel.js"></script>
    <script src="../js/designesia.js"></script>
    <script src="../js/plugins/validate/jquery.validate.min.js"   ></script>
<script src="../js/plugins/validate/messages_zh.min.js" ></script>
  <script type="text/javascript">
     $(document).ready(function() {
        // 在键盘按下并释放及提交后验证提交表单
        $("#frm").validate({
            rules: {
                passwd: {
                    required: true,
                    minlength: 5
                }
            },
            messages: {
                passwd: {
                    required: "请输入密码",
                    minlength: "密码长度不能小于6个字符"
                }
            },
            submitHandler:function(form){
                form.submit();
            }
        });
    });

      function login1(){
         $("#welcome1").hide();
         $("#login1").show();

      }

  </script>
   

</body>
</html>
