<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cubic - One Page Responsive HTML 5 Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">


    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/css/jpreloader.css" type="text/css">  
    <link rel="stylesheet" href="../static/css/owl.carousel.css" type="text/css">   
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">

    <!-- custom style css -->
    <link rel="stylesheet" href="../static/css/custom-style.css" type="text/css">

    <!-- color scheme -->
    <link rel="stylesheet" href="../static/css/color.css" type="text/css">

    <!-- load fonts -->
    <link rel="stylesheet" href="../static/fonts/font-awesome/css/font-awesome.css" type="text/css">  
</head>

<body id="homepage">

    <!-- This section is for Splash Screen -->
    <div id="jSplash">
        <section class="selected">
            This is custom text rotator on loading screen!
        </section>
        <section>
            Insert your custom message here.
        </section>
        <section>
            Make your customers smile.
        </section>
    </div>
    <!-- End of Splash Screen -->


    <div id="wrapper">
        <div class="page-overlay">
        </div>

        <!-- content begin -->
        <div id="content" class="no-bottom no-top">


            <!-- section begin -->
            <section id="section-welcome" class="full-height dark" data-speed="3" data-type="background">
                <div class="center-y text-center">
                   Scientific Research File Management System
                <div class="spacer-single"></div>
                    <div class="text-slider border-deco">
                        <div class="text-item">Welcome To <span class="id-color">SRFM</span></div>
                        <div class="text-item">Thesis + <span class="id-color">Software Copyright</span></div>
                        <div class="text-item">Clean &amp; <span class="id-color">Fresh</span></div>
                        <div class="text-item"><span class="id-color"><i class="icon-bike"></i></span>Ready to Go?</div>
                    </div>
                    <div class="spacer-single"></div>
                    <button  class="btn btn-border btn-big"  data-toggle="modal" data-target="#myModal">Login</button>
                </div>
    
<div class="signinpanel">
            <form method="post"  th:action="@{/login}"  id="frm"  class="text-center">
                <h3 style="text-align: center"> 科研档案管理系统</h3>
                <input type="text" class="form-control uname" name="userid" id="userid" placeholder="用户ID" />
                <input type="password" class="form-control pword m-b" name="passwd" id="password"  placeholder="密码" />
            <!--
                <div style="display: flex;justify-content: space-around">
                <input type="radio" name="role" value="0" checked/>老师<br/>
                <input type="radio" name="role" value="1" />学生<br/>
                <input type="radio" name="role" value="2" />图书管理员<br/>
                </div>
                -->
                <button class="btn btn-success btn-block">登录</button>
            </form>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">科研档案管理系统</h4>
            </div>
            <div class="modal-body">
  <input type="text" class="form-control uname" name="userid" id="userid" placeholder="用户ID" />
                <input type="password" class="form-control pword m-b" name="passwd" id="password"  placeholder="密码" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">登录</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

            </section>
            <!-- section close -->






            <!-- footer begin -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-envelope-o fa-lg"></i></a>
                                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                            </div>
                            <div class="spacer-single"></div>
                            © Copyright 2019 -SRFM  by Sijar etc. More Information<a href="http://www.baidu.com/" target="_blank" title="百度一下">调皮一下</a> 
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer close -->
        </div>
    </div>


    <!-- Javascript Files
    ================================================== -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jpreLoader.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/jquery.ui.totop.js"></script>  
    <script src="../static/js/owl.carousel.js"></script>
    <script src="../static/js/designesia.js"></script>
    <!-- SLIDER REVOLUTION SCRIPTS  -->
   

</body>
</html>
