<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cubic - One Page Responsive HTML 5 Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">


    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css">
    <!-- color scheme -->
    <link rel="stylesheet" href="../static/css/color.css" type="text/css">
    <!-- revolution slider -->
    <link rel="stylesheet" href="../static/css/rev-settings.css" type="text/css">

</head>

<body id="homepage" style="overflow:hidden">

    <div id="wrapper">
        <!-- header begin -->
     
            <header  class="smaller">
                <div class="row">                                 
                        <!-- mainmenu begin -->
                        <nav  class="navbar" role="navigation" style="margin-bottom: 0">
                            <ul id="mainmenu" class="navbar-left">
                                <li><a class="J_menuItem" href="index.html">Home</a></li>
                                 <li><a class="J_menuItem" href="MyThesis.html">My Thesis</a></li>
            <li><a class="J_menuItem" href="MySoftwareCopyright.html">My Software Copyright</a></li>
            <li><a class="J_menuItem" href="MyProject.html">My Project</a></li>
            <li><a class="J_menuItem" href="Management.html">Management</a></li>
            <li><a class="J_menuItem" href="ReportStatistics.html">Report Statistics</a></li> 
            <li><a class="J_menuItem" >谢文仲</a></li> 
            <li><a class="J_menuItem" href="login.html">退出</a></li> 
             
                            </ul>
                        </nav>

                
                    <!-- mainmenu close -->

                </div>

     </header>
    
        <!-- header close -->


        <!-- content begin -->
        <div id="content">
mm
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
dd
<section id="section-thesis">
    
</section>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
ggggooooooooood@!
ss</br>
<section id="section-copyright">
    xs</br></br>x.x.x.
</section>
</div>

          
        </div>
    </div>


    <!-- Javascript Files
    ================================================== -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  
  

</body>
</html>
