<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <title>Cubic - One Page Responsive HTML 5 Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">

    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- color scheme -->
    <link rel="stylesheet" href="../css/color.css" type="text/css">
    <!-- revolution slider -->
    <link rel="stylesheet" href="../css/rev-settings.css" type="text/css">
    <link rel="stylesheet" href="../css/login.css" type="text/css">

</head>

<body id="homepage" style="overflow:hidden">

<div id="wrapper">
    <!-- header begin -->

    <header  class="smaller">
        <div class="row">
            <!-- mainmenu begin -->
            <nav  class="navbar" role="navigation" style="margin-bottom: 0">
                <ul id="mainmenu" class="navbar-left">
                    <li><a class="J_menuItem black" th:href="@{/index}">Home</a></li>
                    <li><a class="J_menuItem" th:href="@{/MyThesis}">My Thesis</a></li>
                    <li><a class="J_menuItem" th:href="@{/MySoftwareCopyright}">My Software Copyright</a></li>
                    <li><a class="J_menuItem" th:href="@{/subjectManagement}">My Project</a></li>
                    <li><a class="J_menuItem" th:href="@{/userManagement}">Management</a></li>
                    <li><a class="J_menuItem" th:href="@{/}">Report Statistics</a></li>
                    <li><a class="J_menuItem" >谢文仲</a></li>
                    <li><a class="J_menuItem" th:href="@{logout}">退出</a></li>

                </ul>
            </nav>


            <!-- mainmenu close -->

        </div>

    </header>

    <!-- header close -->


    <!-- content begin -->
    <div id="content">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                  <div class="col-md-7">
                <form class="form-inline" id="search_from" name="search_from">
                    <label class="control-label" for="inputthesisId">Thesis ID：</label>
                    <input class="form-control headmargin" type="text" id="inputthesisId" name="thesisId"/>
                    <label class="control-label" for="inputthesisname">  Thesis Name：</label>
                    <input class="form-control headmargin" type="text" id="inputthesisname" name="thesisname"/>
                    <button type="button" onclick="findThesis()" id="search" class="btn btn-warning"><span
                            aria-hidden="true"></span>Search
                    </button>
                </form>
                  </div>
                  <div class="col-md-4">
                    <a th:href="@{AddThesis}" >
                        <button type="button" class="btn btn-warning"><span
                            aria-hidden="true"></span> Add</button>
                    </a>

                    <button type="button" id="remove" class="btn btn-warning" onclick="deleteThesis();"><span
                            aria-hidden="true"></span> Delete
                    </button>
                  </div>
              </div>

                <br/>
                <!--table  class="table table-bordered" id="table_list"></table-->
                <div class="panel panel-warning" th:each="list:${thesisList}">
                    <a th:href="@{'/ThesisDetail/'+${list.getThesisId()}}">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-2 panel-title">
                                    <p th:text="${list.getThesisId()}"></p>
                                </div>
                                <div class="col-md-3  panel-title">
                                    <p th:text="${list.getThesisTitle()}">名称</p>
                                </div>
                                <div class="col-md-2 panel-title">
                                    <p th:text="${list.getAuthor1().getUserName()}">作者1名称</p>
                                </div>
                                <div class="col-md-2 panel-title">
                                    <p th:text="${list.getJournal()}"></p>
                                </div>
                                <label class="checkbox-inline col-md-1">
                                    <input type="checkbox" name="optionsCheckboxinline"  th:value="${list.getThesisId()}">
                                </label>
                            </div>
                        </div>
                    </a>

                </div> <!-- panel panel-warning -->

            </div>


        </div>



    </div>
    <input id="labeluserid" type="hidden" th:value="${session.userId}" />
</div>


<!-- Javascript Files
================================================== -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="../js/bootstrap-table.min.js"></script>
<script>

    /*
     * 初始化BootstrapTable,动态从服务器加载数据
     * */
    $(document).ready(function () {

        var userid = document.getElementById("labeluserid").value;

        dataTableHot = $("#table_list").bootstrapTable({
            //使用get请求到服务器获取数据
            method: "POST",
            //必须设置，不然request.getParameter获取不到请求参数
            contentType: "application/x-www-form-urlencoded",
            //获取数据的Servlet地址
            url: "/findTBlist",
            //表格显示条纹
            striped: true,
            //启动分页
            pagination: true,
            //每页显示的记录数
            pageSize: 10,
            //当前第几页
            pageNumber: 1,
            //记录数可选列表
            pageList: [5, 10, 15, 20, 25],
            //是否启用查询
            search: false,
            //表示服务端请求
            sidePagination: "server",
            //设置为undefined可以获取pageNumber，pageSize，searchText，sortName，sortOrder
            //设置为limit可以获取limit, offset, search, sort, order
            //  queryParamsType: "undefined",
            // queryParams: queryParams,
            queryParamsType: "",
            queryParams: getParams,
            //json数据解析
            responseHandler: function (res) {
                console.log("res", res)
                return {
                    "rows": res.rows,
                    "total": res.total
                };
            },
            //数据列
            columns: [
                {
                    checkbox: true
                },
                {
                    field: 'Number',//可不加
                    title: '序号',//标题  可不加
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                }, {
                    title: "Thesis ID",
                    field: "Thesis ID",

                }, {
                    title: "Thesis Title",
                    field: "Thesis Title"
                }, {
                    title: "Author1",
                    field: "author1"
                }, {
                    title: "Journal",
                    field: "Journal"
                }]


        });
    });

    /*
* 设置额外BootstrapTable请求参数
**/
    // function queryParams(params) {
    function getParams(params) {

        return {
            //表格显示条纹
            striped: true,
            //启动分页
            pagination: true,
            //     pageSize: 10,
            //当前第几页
            //    pageNumber: 1,
            pageSize : params.pageSize,
            pageNumber : params.pageNumber,
            //记录数可选列表
            pageList: [5, 10, 15, 20, 25],
            thesisId: $('#search_from input[name=\'Thesis ID\']').val(),	// 请求时向服务端传递的参数
            thesisTitle: $('#search_from input[name=\'Thesis Title\']').val(),		// 请求时向服务端传递的参数

        }
    }
    function deleteThesis() {
        var thsisidlist =new Array();
        var dd = '';
        var radio = document.getElementsByName("optionsCheckboxinline");
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked == true) {
                dd = radio[i].value;
                thsisidlist.push(dd);
            }
        }
        $.ajax({
            url: "/deleteThesis?params="+thsisidlist , // 你的请求链接
            success : function(data) {
                console.log("data==="+data);
            }
        });

    }


</script>

</body>
</html>
