<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml" lang="zh_CN">
<head>
    <meta charset="utf-8">
    <title>Cubic - One Page Responsive HTML 5 Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">


    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">

    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- color scheme -->
    <link rel="stylesheet" href="../css/color.css" type="text/css">
    <!-- revolution slider -->
    <link rel="stylesheet" href="../css/rev-settings.css" type="text/css">
    <link rel="stylesheet" href="../css/login.css" type="text/css">
</head>

<body id="homepage" style="overflow:hidden">

    <div id="wrapper">
        <!-- header begin -->
     
            <header  class="smaller">
                <div class="row">                                 
                        <!-- mainmenu begin -->
                        <nav  class="navbar" role="navigation" style="margin-bottom: 0">
                            <ul id="mainmenu" class="navbar-left">
                                <li><a class="J_menuItem black" th:href="@{/index}">Home</a></li>
                                <li><a class="J_menuItem" th:href="@{/MyThesis}">My Thesis</a></li>
                                <li><a class="J_menuItem" th:href="@{/MySoftwareCopyright}">My Software Copyright</a></li>
                                <li><a class="J_menuItem" th:href="@{/subjectManagement}">My Project</a></li>
                                <li><a class="J_menuItem" th:href="@{/userManagement}">Management</a></li>
                                <li><a class="J_menuItem" th:href="@{/}">Report Statistics</a></li>
                                <li><a class="J_menuItem" th:text="${session.user.getUserName()}">谢文仲</a></li>
                                <li><a class="J_menuItem" th:href="@{logout}">退出</a></li>
             
                            </ul>
                        </nav>

                
                    <!-- mainmenu close -->

                </div>

     </header>
    
        <!-- header close -->
        <!-- content begin -->
        <div id="content">
            <div class="row">
                <h3 class="text-center">论文搜索结果</h3>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2" >
                    <br>
                    <h3 th:if="${thesisList.size()==0}" class="text-center" style="margin-top: 100px;"> 未查询到结果！</h3>
                    <div class="panel panel-warning" th:each="list:${thesisList}" th:if="${thesisList.size()!=0}">
                        <a th:href="@{'/ThesisDetail/'+${list.getThesisId()}}">

                            <div class="panel-heading panel-warning">
                                <h3 class="panel-title text-center" th:text="${list.getThesisId()}"></h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-1 panel-title">
                                        <p th:text="${list.getThesisTitle()}">名称</p>
                                    </div>
                                    <div class="col-md-2 panel-title">
                                        <p th:text="${list.getAuthor1().getUserName()}">作者1名称</p>
                                    </div>
                                    <div class="col-md-2 panel-title">
                                        <p th:text="${list.getJournal()}"></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div> <!-- panel panel-warning -->
                </div>
            </div>

</div>

          
        </div>
    </div>


    <!-- Javascript Files
    ================================================== -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

</body>
</html>
