<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <title>Cubic - One Page Responsive HTML 5 Website Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Minimal Bootstrap Theme">
    <meta name="keywords" content="onepage,responsive,minimal,bootstrap,theme">
    <meta name="author" content="">

    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <![endif]-->


    <!-- CSS Files
    ================================================== -->
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <!-- color scheme -->
    <link rel="stylesheet" href="../css/color.css" type="text/css">
    <!-- revolution slider -->
    <link rel="stylesheet" href="../css/rev-settings.css" type="text/css">
    <link rel="stylesheet" href="../css/login.css" type="text/css">

</head>

<body id="homepage" style="overflow:hidden">

<div id="wrapper">
    <!-- header begin -->

    <header  class="smaller">
        <div class="row">
            <!-- mainmenu begin -->
            <nav  class="navbar" role="navigation" style="margin-bottom: 0">
                <ul id="mainmenu" class="navbar-left">
                    <li><a class="J_menuItem black" th:href="@{/index}" shiro:hasAnyRoles ="student,teacher,Administration">Home</a></li>
                    <li><a class="J_menuItem" th:href="@{/MyThesis}" shiro:hasAnyRoles="teacher,Administration">My Thesis</a></li>
                    <li><a class="J_menuItem" th:href="@{/MySoftwareCopyright}" shiro:hasAnyRoles="teacher,Administration">My Software Copyright</a></li>
                    <li><a class="J_menuItem" th:href="@{/subjectManagement}" shiro:hasAnyRoles="teacher,Administration">My Project</a></li>
                    <li><a class="J_menuItem" th:href="@{/userManagement}" shiro:hasRole="Administration">Management</a></li>
                    <li><a class="J_menuItem" th:href="@{/}" shiro:hasRole="Administration">Report Statistics</a></li>
                    <li><a class="J_menuItem" th:text="${session.user.getUserName()}">谢文仲</a></li>
                    <li><a class="J_menuItem" th:href="@{logout}">退出</a></li>
                </ul>
            </nav>


            <!-- mainmenu close -->

        </div>

    </header>

    <!-- header close -->


    <!-- content begin -->
    <div id="content">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="panel panel-warning ">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title ">论文详情</h3>
                </div>
                    <div class="panel-body">
                            <div class="form-group">
                                <div class="row text-center">
                                    <div class="h3 text-center">
                                        <p th:text="${thesisinf.getThesisTitle()}"></p>
                                    </div>
                                </div>
                            </div>
                        <div style="margin-left:68%;"  th:if="${thesisinf.getAuthor1().userId}==${session.user.getUserId()}">
<!--                            <a th:href="@{'/EditThesis/'+ThesistmpId}">-->
                                <div class="btn-warning btn" th:onclick="edit1()">编辑</div>
<!--                            <button class="btn-warning btn">编辑</button>-->
<!--                            </a>-->
                        </div>
                        <br/>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-md-1 control-label">文章编号</label>
                                    <div class="col-md-3">
                                        <p th:text="${thesisinf.getThesisId()}"></p>
                                    </div>
                                    <label  class="col-md-1 control-label">作者一</label>
                                    <div class="col-md-3">
                                        <p th:text="${thesisinf.getAuthor1().getUserName()}"></p>
                                    </div>
                                    <label  class="col-md-1 control-label">作者二</label>
                                    <div class="col-md-3">
                                        <p th:text="${thesisinf.getAuthor2().getUserName()}" th:if="${thesisinf.getAuthor2()!=null}"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <label  class="col-md-1 control-label">作者三</label>
                                    <div class="col-md-3">
                                        <p th:text="${thesisinf.getAuthor3().getUserName()}" th:if="${thesisinf.getAuthor3()!=null}"></p>
                                    </div>
                                    <label class="col-md-1 control-label">刊名</label>
                                    <div class="col-md-3">
                                        <p th:text="${thesisinf.getJournal()}" th:if="${thesisinf.getJournal()!=null}"></p>
                                    </div>
                                    <label  class="col-md-1 control-label">期，卷</label>
                                    <div class="col-md-3">
                                        <p th:text="${thesisinf.getVolume()}" th:if="${thesisinf.getVolume()!=null}"></p>
                                    </div>
                                </div>
                            </div>

                        <div class="form-group">
                            <div class="row">
                                    <label  class="col-md-1 control-label">页数</label>
                                    <div class="col-md-3">
                                        <p th:text="${thesisinf.getPages()}" th:if="${thesisinf.getPages()!=null}"></p>
                                    </div>
                                    <label  class="col-md-1 control-label">私密性</label>
                                    <div class="col-md-3">
                                        <p th:text="${thesisinf.getPrivacy()}"></p>
                                    </div>
                                <label  class="col-md-1 control-label">全文url</label>
                                <div class="col-md-3">
                                    <a th:href="${thesisinf.getUrl()}">
                                        <button class="btn btn-warning" style="margin-top: -5px;">前往</button>
                                    </a>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
            <br/>

        </div>

    </div>
    <input id="labeluserid" type="hidden" th:value="${session.userId}" />
    <input id="labelThesistmpId" type="hidden" th:value="${ThesistmpId}" />

</div>


<!-- Javascript Files
================================================== -->
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="../js/bootstrap-table.min.js"></script>
<script>

    function edit1() {
        var ThesistmpId=document.getElementById("labelThesistmpId").value;
        var url='/EditThesis/'+ThesistmpId;
        console.log("url"+url);
        url=encodeURI(url);
        console.log("url1"+url);
        url=encodeURI(url); //最重要的部分,两次调用encodeURI ,就是编码两次
        console.log("url1"+url);
        $.ajax({
            type: "post",
            url: "@{url}",
            data: JSON.stringify(params),
            dataType: 'json',
            contentType: 'application/json;charset=UTF-8',
            success: function (r) {
                alert(r)
            }
        })



    }
</script>


</body>
</html>
